<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block content %}
<form action="/register" method="POST">
  <div class="register">
    <div class="login-screen">
      <div class="app-title">
        <h1>Register</h1>
      </div>

      <div class="login-form">
        <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="username" name="username">
        <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="password" name="password">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="confirm" name="confirm">
          <label for="confirm-pass"></label>
        </div>
          <input type="submit" value="Register" class="btn btn-primary btn-large btn-block" >
          <br>
      </div>
    </div>
  </div>
</form>
{% endblock %}
